<div class="flex flex-col gap-6 min-h-full w-full">
  <p-toast></p-toast>
  <div class="flex flex-col pb-2 pt-6 border-0 bg-card rounded-xl shadow flex-grow min-h-100">
    <div class="px-6 flex flex-col gap-1">
      <span class="font-bold text-2xl"> Pending Contracts </span>
      <span class="text-sm text-secondary">
        Overview of contracts with payment transactions made but still need to be approved.
      </span>
    </div>
    <div>
      <app-data-table
        [(data)]="pendingContracts"
        [cols]="cols"
        [(multiSortMeta)]="SortMeta"
        [dataLoading]="loading()"
        [(totalRecords)]="total_records"
        [rows]="limit() || 10"
        [bodyTemplate]="pendingContractsBody"
        (loadDataEvent)="getPendingContracts($event)"
      >
      </app-data-table>
    </div>
  </div>
  <p-confirmDialog
    header="Confirm Deletion"
    icon="pi pi-exclamation-triangle"
    acceptButtonStyleClass="p-button-danger"
    rejectButtonStyleClass="p-button-secondary"
  ></p-confirmDialog>
</div>
<ng-template #pendingContractsBody let-rowData let-rowIndex="rowIndex">
  <td class="text-center w-[5%] shrink-1">
    {{ rowData.contract_number }}
  </td>
  <td class="text-center w-[20%] text-nowrap">
    {{ rowData.seller.company.name }}
  </td>
  <td class="text-center w-[15%] text-nowrap">
    {{ rowData.buyer.company.name }}
  </td>
  <td class="text-center w-[8%] text-nowrap">
    <p-button
      [label]="rowData.quote.id ? `View Quote #${rowData.quote.id}` : 'N/A'"
      [icon]="'pi pi-eye'"
      [outlined]="true"
      [rounded]="true"
      severity="info"
      size="small"
      [disabled]="!rowData.quote.id"
      (onClick)="viewQuote(rowData.quote)"
    />
  </td>
  <td class="text-center w-[15%] text-nowrap">
    <p-badge
      [value]="getStatusLabel(rowData.status)"
      [severity]="getStatusSeverity(rowData.status)"
    />
  </td>
  <td class="text-center w-[12%] text-nowrap">
    {{ rowData.created_at | date }}
  </td>
  <td class="text-center text-nowrap">
    <div class="flex gap-2 justify-center">
      <p-button
        [label]="''"
        [icon]="'pi pi-eye'"
        [outlined]="true"
        [raised]="true"
        (onClick)="viewContract(rowData)"
        rounded="true"
        severity="info"
        size="small"
      />

      @if (rowData.status === 'pending_payment_confirmation') {
        <!-- Payment Verification Actions -->
        <p-button
          [label]="'Approve Payment'"
          [icon]="'pi pi-check'"
          [outlined]="true"
          (onClick)="approvePayment(rowData.id)"
          rounded="true"
          severity="success"
          size="small"
          [disabled]="loading()"
          [raised]="true"
        />
        <p-button
          [label]="'Reject Payment'"
          [raised]="true"
          [icon]="'pi pi-times'"
          [outlined]="true"
          (onClick)="rejectPayment(rowData)"
          rounded="true"
          severity="danger"
          size="small"
          [disabled]="loading()"
        />
      }

      @if (rowData.status === 'verify_shipment_url') {
        <!-- Shipment URL Verification Actions -->
        <p-button
          [label]="'Approve Shipment'"
          [icon]="'pi pi-check'"
          [outlined]="true"
          (onClick)="approveShipment(rowData.id)"
          rounded="true"
          severity="success"
          size="small"
          [disabled]="loading()"
          [raised]="true"
        />
        <p-button
          [label]="'Reject Shipment'"
          [raised]="true"
          [icon]="'pi pi-times'"
          [outlined]="true"
          (onClick)="rejectShipment(rowData)"
          rounded="true"
          severity="danger"
          size="small"
          [disabled]="loading()"
        />
      }

      @if (rowData.status === 'delivered') {
        <!-- Submit Seller Payment Action -->
        <p-button
          [label]="'Submit Payment'"
          [icon]="'pi pi-credit-card'"
          [outlined]="true"
          (onClick)="viewContract(rowData)"
          rounded="true"
          severity="info"
          size="small"
          [disabled]="loading()"
          [raised]="true"
        />
      }
    </div>
  </td>
</ng-template>

@if (contractModalVisible()) {
  <app-contract-details-dialog
    [(visible)]="contractModalVisible"
    [contract]="selectedContract()"
    [userType]="'admin'"
    [showActions]="false"
    [allowEdit]="false"
    [allowCancel]="false"
    [allowApprove]="false"
    (dialogClose)="contractModalVisible.set(false)"
    (sellerPaymentSubmit)="onSellerPaymentSubmit($event)"
    (adminApprovePayment)="approvePayment($event.id); contractModalVisible.set(false)"
    (adminRejectPayment)="rejectPayment($event); contractModalVisible.set(false)"
    (adminApproveShipment)="approveShipment($event.id); contractModalVisible.set(false)"
    (adminRejectShipment)="rejectShipment($event); contractModalVisible.set(false)"
  ></app-contract-details-dialog>
}
@if (quoteModalVisible()) {
  <app-quote-details-dialog
    [(visible)]="quoteModalVisible"
    [quote]="selectedQuote()"
    [allowChat]="false"
    [userType]="'admin'"
    [allowAcceptReject]="false"
    [showActions]="false"
    [allowContract]="false"
    (close)="quoteModalVisible.set(false)"
  ></app-quote-details-dialog>
}
