<p-card styleClass="ps-4 pt-4 pe-6 min-h-35  ">
  <ng-template #header>
    <div class="flex justify-between text-secondary">
      <span>{{ cardTitle() }}</span>
      <i [class]="cardIconClass() + ' text-lg'"></i>
    </div>
  </ng-template>
  <ng-template #content class="">
    <div class="flex justify-between flex-grow items-center">
      <span class="font-bold text-2xl">{{ cardDescription() }}</span>
    </div>
  </ng-template>
  @if (cardFooter()) {
    <ng-template #footer>
      <div class="flex justify-between">
        <span>{{ cardFooter() }}</span>
      </div>
    </ng-template>
  }
</p-card>
